
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.ActionLink("Projects Download", "Projectdownload", "Project")</li>
<li>@Html.ActionLink("Projects Upload", "Projectupload", "Project")</li>

