@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>

<p>Wenting Consulting is a management consulting firm in Syracuse. Founded in late 2000, the company was built on the premise of providing exceptional value to our clients and offering challenging work to our team, while simultaneously enabling our consultants to maintain a strong personal, work life balance. We are experts at helping our clients manage change. Our clients provide the functional, technical, and industry knowledge, and we provide the focus and expertise to lead the change. We feel that change is managed similarly in all organizations. Supporting this theory, our company’s experience is comprised of clients across many industries and functional areas. Additionally, each of our consultants brings a strong portfolio of both broad organization experience and a wide array of project and change leadership initiatives.
LeadVantage Consulting works with clients that are growing or undergoing significant change. Our clients include start-ups, mid-sized companies, and functional areas within Fortune 500 companies. We primarily partner with the executives that are responsible for the delivery of products or services, including CEOs, Program Managers, and CIOs. Industry and functional areas we have served include: Technology Services ,Financial/Banking, Insurance, Information Services</p>
 