@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    1104 East Genesse<br />
    Syracuse, NY 13210-6399<br />
    <abbr title="Phone">P:</abbr>
    315.488.8888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@wconsulting.com">Support@wconsulting.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@wconsulting.com">Marketing@wconsulting.com</a>
</address>